body{
    background-color: bisque;
}

th:hover{
    background-color: blueviolet;
}

/* estilo por id*/
#nombre{
    border: 1px blue;
    border-radius: 3px;
    background-color: azure;
}

body{
     background-color: rgb(222, 183, 235);
}

fieldset{
    background-color: antiquewhite;
}